#= build example config =#
optlevel <- 0b0011
debug <- 0b0001
warning <- 0b0010

flags <- ({ optlevel, debug, warning })
mask <- ^[ optlevel + debug + warning ]

defines <- ({ "DEBUG", "LOG", "TRACE" })
sorteddefines <- ^[ sort(defines) ]

releasetag <- ^[ mod(0b1010, 0b0011) ]
